@using SRCONFI.Projeto.Web.Enum
@model SRCONFI.Projeto.Web.ViewModel.ModalViewModel

@{
    var idModal = String.Format("modal{0}", Model.IdModal);
}



    <div class="modal-dialog first" style="width:80%; height:98%;">

        @*Modal Content*@
        <div class="modal-content">
            <div class="modal-header first">
                <button type="button" class="close" id="btnCloseModalFirst">x</button>
                <h4 class="modal-title"> @Html.Raw(Model.TituloModal) </h4>
            </div>
            <div class="modal-body first">
              @*  @Html.Partial("")*@
            </div>
            <div class="modal-footer first">
                @if (Model.TipoBotao == (int)ModalEnum.TipoBotaoEnum.Incluir)
                {
                    <button type="submit" class="btn btn-default" id="@String.Format("btnIncluir{0}",Model.IdModal)">Salvar</button>
                }
                else if (Model.TipoBotao == (int)ModalEnum.TipoBotaoEnum.Editar)
                {
                    <button type="submit" class="btn btn-default" id="@String.Format("btnEditar{0}",Model.IdModal)">Salvar</button>
                }
                else if (Model.TipoBotao == (int)ModalEnum.TipoBotaoEnum.Confirmar)
                {
                    <button type="submit" class="btn btn-default" id="@String.Format("btnConfirmar{0}",Model.IdModal)">Ok</button>
                }
                <button type="button" class="btn btn-default" id="btnFooterCloseModalFirst">Fechar</button>
            </div>
        </div>
    </div>

<script src="~/Scripts/Views/Modal/Modal.js"></script>

