@{
    Layout = null;
}


@model SRCONFI.Projeto.Domain.Entity.DadosComplementares
@using System.Collections.Generic;
@using System.Web.Mvc;


@Html.HiddenFor(model => model.dadoComplementarID)

<div class="row">
    <div class="col-xs-2">
        @Html.Label("CPF", new { @class = "col-sm-2 control-label-sm" })
        @Html.TextBoxFor(model => model.nrCpfSocio, new { @class = "form-control input-sm", @placeholder = "CPF", @data_parsley_error_message = "O campo 'CPF' é obrigatório" })
    </div>
    <div class="col-xs-9">
        @Html.Label("RG", new { @class = "col-sm-2 control-label-sm" })
        @Html.TextBoxFor(model => model.rgSocio, new { @class = "form-control input-sm", @placeholder = "RG", @data_parsley_error_message = "O campo 'RG' é obrigatório" })
    </div>

    <div class="col-xs-7">
        @Html.Label("Sexo", new { @class = "col-sm-2 control-label-sm" })
        @Html.DropDownListFor(model => model.sexoSocio, (List<SelectListItem>)ViewBag.listSexo, new { @class = "form-control input-sm", @placeholder = "Categoria", @data_parsley_error_message = "O campo 'Categoria' é obrigatório" })
    </div>
</div>

<div class="row">
    <div class="col-xs-2">
        @Html.Label("Data Nascimento", new { @class = "col-sm-2 control-label-sm" })
        @Html.TextBoxFor(model => model.dataNascSocio, new { @class = "form-control input-sm", @placeholder = "Data Nascimento", @data_parsley_error_message = "O campo 'Data Nascimento' é obrigatório" })
    </div>
    <div class="col-xs-9">
        @Html.Label("Idade", new { @class = "col-sm-2 control-label-sm" })
        @Html.TextBox("idadeCalculo", "", new { @class = "form-control input-sm", @readonly = "readonly" })
    </div>

    <div class="col-xs-7">
        @Html.Label("Estado Civil", new { @class = "col-sm-2 control-label-sm" })
        @Html.DropDownListFor(model => model.sexoSocio, (List<SelectListItem>)ViewBag.listEstadoCivil, new { @class = "form-control input-sm", @placeholder = "Estado Civil", @data_parsley_error_message = "O campo 'Estado Civil' é obrigatório" })
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        @*@Html.TextBoxFor(model => model., new { @class = "form-control", @placeholder = "E-mail", @type = "email", @data_parsley_type = "email", @data_parsley_required = "", @data_parsley_error_message = "O campo 'E-mail' é obrigatório" })*@
    </div>
</div>


<div class="row">
    <div class="col-xs-2">
        @Html.Label("CPF", new { @class = "col-sm-2 control-label-sm" })
        @Html.TextBoxFor(model => model.nrCpfSocio, new { @class = "form-control input-sm", @placeholder = "CPF", @data_parsley_error_message = "O campo 'CPF' é obrigatório" })
    </div>
    <div class="col-xs-9">
        @Html.Label("RG", new { @class = "col-sm-2 control-label-sm" })
        @Html.TextBoxFor(model => model.profissaoSocio, new { @class = "form-control input-sm", @placeholder = "RG", @data_parsley_error_message = "O campo 'RG' é obrigatório" })
    </div>

    <div class="col-xs-7">
        @Html.Label("Sexo", new { @class = "col-sm-2 control-label-sm" })
        @Html.DropDownListFor(model => model.nacionalidadeSocio, (List<SelectListItem>)ViewBag.listSexo, new { @class = "form-control input-sm", @placeholder = "Categoria", @data_parsley_error_message = "O campo 'Categoria' é obrigatório" })
    </div>
</div>