@using SRCONFI.Projeto.Domain.Entity
@model List<Socios>

<table class="table table-hover" id="tableSocios">
    <thead>
        <tr>
            <th>Matrícula</th>
            <th>Nome</th>
            <th>Categoria</th>
            <th>E-mail</th>
            <th>Telefone</th>
            <th>Status</th>
    </thead>
    <tbody>

        @foreach (Socios socios in Model)
            {
            <tr class="clickable-row" data-row-id="@socios.socioID">
                <td>@socios.socioID</td>
                <td>@socios.nomeSocio</td>
                <td>@socios.Categoria.descricao</td>
                <td>@socios.emailsocio</td>
                <td>@socios.telefoneSocio</td>
                <td>
                    @if (socios.inStatus == 0)
                    { @Html.Raw("Inativo") }
                    else
                    { @Html.Raw("Ativo") }
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $("#tableSocios").on("click", ".clickable-row", function (event) {
        $(this).addClass('active').siblings().removeClass('active');
    });
</script>