@model SRCONFI.Projeto.Domain.Entity.Socios
@using System.Collections.Generic;
@using System.Web.Mvc;


<script src="~/Scripts/Views/Socios/Inserir.js"></script>



@Html.Hidden("hdnCaminhoInserirSocio", @Url.Action("Inserir", "Socios"))

@using (Html.BeginForm("Inserir", "Socios", FormMethod.Post, new { @class = "form-horizontal", @role = "form", id = "formInserirSocio" }))
{
    @Html.Hidden("socioID", 0)

    <div class="row">
        <div class="col-xs-2">
            @Html.Label("Matrícula", new { @class = "col-sm-2 control-label-sm" })
            @Html.TextBox("matricula", "", new { @class = "form-control input-sm", @readonly = "readonly" })
        </div>
        <div class="col-xs-7">
            @Html.Label("Categoria", new { @class = "col-sm-2 control-label-sm" })
            @Html.DropDownListFor(model => model.categoriaID_FK, (List<SelectListItem>)ViewBag.listCategoria, new { @class = "form-control input-sm", @placeholder = "Categoria", @data_parsley_required = "", @data_parsley_error_message = "O campo 'Categoria' é obrigatório" })
        </div>
        <div class="col-xs-3">
            @Html.Label("Status", new { @class = "col-sm-2 control-label-sm" })
            @Html.DropDownListFor(model => model.inStatus, (List<SelectListItem>)ViewBag.listStatus, new { @class = "form-control input-sm", @placeholder = "Status", @data_parsley_required = "", @data_parsley_error_message = "O campo 'Status' é obrigatório" })
        </div>
    </div>

    <div class="row">
        <div class="col-xs-9">
            @Html.Label("Nome", new { @class = "col-sm-2 control-label-sm" })
            @Html.TextBoxFor(model => model.nomeSocio, new { @class = "form-control input-sm", @placeholder = "Nome", @data_parsley_required = "", @data_parsley_error_message = "O campo 'Nome' é obrigatório" })
        </div>
        <div class="col-xs-3">
            @Html.Label("Data de Ingresso", new { @class = "col-sm-12 control-label-sm" })
            @Html.TextBoxFor(model => model.dataIngressoSocio, new { @class = "form-control input-sm mask-date", @placeholder = "Data de Ingresso", @data_parsley_required = "", @data_parsley_error_message = "O campo 'Data de Ingresso' é obrigatório" })
        </div>
    </div>


    <div class="row top10">
        <div class="col-xs-12">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tabDadosComplementares">Dados Complementares</a></li>
                <li><a data-toggle="tab" href="#tabEndereco">Endereço </a></li>
                <li><a @*data-toggle="tab"*@ href="#tabUltimosPagamentos">Últimos Pagamentos </a></li>
                <li><a @*data-toggle="tab"*@ href="#tabAtividades">Atividades </a></li>
            </ul>

            <div class="tab-content">
                <div id="tabDadosComplementares" class="tab-pane fade in active">
                    <h3>Dados Complementares</h3>

                    @Html.HiddenFor(model => model.DadosComplementares.dadoComplementarID)

                    <div class="row">
                        <div class="col-xs-2">
                            @Html.Label("CPF", new { @class = "col-sm-2 control-label-sm" })
                            @Html.TextBoxFor(model => model.DadosComplementares.nrCpfSocio, new { @class = "form-control input-sm cpf-mask", @placeholder = "CPF", @data_parsley_required = "", @data_parsley_error_message = "O campo 'CPF' é obrigatório" })
                        </div>
                        <div class="col-xs-2">
                            @Html.Label("RG", new { @class = "col-sm-2 control-label-sm" })
                            @Html.TextBoxFor(model => model.DadosComplementares.rgSocio, new { @class = "form-control input-sm rg-mask", @placeholder = "RG", @data_parsley_required = "", @data_parsley_error_message = "O campo 'RG' é obrigatório" })
                        </div>

                        <div class="col-xs-3">
                            @Html.Label("Sexo", new { @class = "col-sm-2 control-label-sm" })
                            @Html.DropDownListFor(model => model.DadosComplementares.sexoSocio, (List<SelectListItem>)ViewBag.listSexo, new { @class = "form-control input-sm", @placeholder = "Categoria", @data_parsley_required = "", @data_parsley_error_message = "O campo 'Categoria' é obrigatório" })
                        </div>

                        <div class="col-xs-3">
                            @Html.Label("Data Nascimento", new { @class = "col-sm-12 control-label-sm" })
                            @Html.TextBoxFor(model => model.DadosComplementares.dataNascSocio, new { @class = "form-control input-sm mask-date", @placeholder = "Data de Nascimento", @data_parsley_required = "", @data_parsley_error_message = "O campo 'Data Nascimento' é obrigatório" })
                        </div>
                        <div class="col-xs-2">
                            @Html.Label("Idade", new { @class = "col-sm-2 control-label-sm" })
                            @Html.TextBox("idadeCalculo", "", new { @class = "form-control input-sm age-mask", @readonly = "readonly" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-3">
                            @Html.Label("Estado Civil", new { @class = "col-sm-12 control-label-sm" })
                            @Html.DropDownListFor(model => model.DadosComplementares.EstadoCivilID_FK, (List<SelectListItem>)ViewBag.listEstadoCivil, new { @class = "form-control input-sm", @placeholder = "Estado Civil", @data_parsley_required = "", @data_parsley_error_message = "O campo 'Estado Civil' é obrigatório" })
                        </div>

                        <div class="col-xs-5">
                            @Html.Label("E-mail", new { @class = "col-sm-12 control-label-sm" })
                            @Html.TextBoxFor(model => model.emailsocio, new { @class = "form-control", @placeholder = "E-mail", @type = "email", @data_parsley_type = "email", @data_parsley_required = "", @data_parsley_error_message = "O campo 'E-mail' é obrigatório" })
                        </div>

                        <div class="col-xs-2">
                            @Html.Label("Telefone", new { @class = "col-sm-2 control-label-sm" })
                            @Html.TextBoxFor(model => model.telefoneSocio, new { @class = "form-control input-sm phone-mask", @placeholder = "Telefone", @data_parsley_required = "", @data_parsley_error_message = "O campo 'Telefone' é obrigatório" })
                        </div>

                        <div class="col-xs-2">
                            @Html.Label("Celular", new { @class = "col-sm-2 control-label-sm" })
                            @Html.TextBoxFor(model => model.DadosComplementares.nrCelularSocio, new { @class = "form-control input-sm cellphone-mask", @placeholder = "Celular", @data_parsley_required = "", @data_parsley_error_message = "O campo 'Celular' é obrigatório" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-2">
                            @Html.Label("Nacionalidade", new { @class = "col-sm-2 control-label-sm" })
                            @Html.TextBoxFor(model => model.DadosComplementares.nacionalidadeSocio, new { @class = "form-control input-sm", @placeholder = "Nacionalidade", @data_parsley_required = "", @data_parsley_error_message = "O campo 'Nacionalidade' é obrigatório" })
                        </div>
                        <div class="col-xs-4">
                            @Html.Label("Escolaridade", new { @class = "col-sm-2 control-label-sm" })
                            @Html.DropDownListFor(model => model.DadosComplementares.escolaridadeID_FK, (List<SelectListItem>)ViewBag.listEscolaridade, new { @class = "form-control", @placeholder = "Escolaridade", @data_parsley_required = "", @data_parsley_error_message = "O campo 'Escolaridade' é obrigatório" })
                        </div>
                        <div class="col-xs-6">
                            @Html.Label("Profissão", new { @class = "col-sm-2 control-label-sm" })
                            @Html.TextBoxFor(model => model.DadosComplementares.profissaoSocio, new { @class = "form-control input-sm", @placeholder = "Profissão", @data_parsley_required = "", @data_parsley_error_message = "O campo 'Profissão' é obrigatório" })
                        </div>
                    </div>

                    @*@Html.Partial("_DadosComplementares", new SRCONFI.Projeto.Domain.Entity.DadosComplementares())*@
                </div>
                <div id="tabEndereco" class="tab-pane fade">
                    <h3>Endereço</h3>

                    <div class="row">
                        <div class="col-xs-2">
                            @Html.Label("UF", new { @class = "col-sm-2 control-label-sm" })
                            @Html.DropDownListFor(model => model.Endereco.estadoID_FK, (List<SelectListItem>)ViewBag.listEstado, new { @class = "form-control input-sm", @placeholder = "CPF", @data_parsley_required = "", @data_parsley_error_message = "O campo 'CPF' é obrigatório" })
                        </div>
                        <div class="col-xs-8">
                            @Html.Label("Cidade", new { @class = "col-sm-2 control-label-sm" })
                            @Html.TextBoxFor(model => model.Endereco.cidade, new { @class = "form-control input-sm", @placeholder = "Cidade", @data_parsley_required = "", @data_parsley_error_message = "O campo 'Cidade' é obrigatório" })
                        </div>

                        <div class="col-xs-2">
                            @Html.Label("CEP", new { @class = "col-sm-2 control-label-sm" })
                            @Html.TextBoxFor(model => model.Endereco.numeroCEP, new { @class = "form-control input-sm cep-mask", @placeholder = "CEP", @data_parsley_required = "", @data_parsley_error_message = "O campo 'CEP' é obrigatório" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-10">
                            @Html.Label("Endereço", new { @class = "col-sm-12 control-label-sm" })
                            @Html.TextBoxFor(model => model.Endereco.endereco, new { @class = "form-control input-sm", @placeholder = "Endereço", @data_parsley_required = "", @data_parsley_error_message = "O campo 'Endereço' é obrigatório" })
                        </div>
                        <div class="col-xs-2">
                            @Html.Label("Número", new { @class = "col-sm-12 control-label-sm" })
                            @Html.TextBoxFor(model => model.Endereco.numero, new { @class = "form-control input-sm", @placeholder = "Número", @data_parsley_required = "", @data_parsley_error_message = "O campo 'Número' é obrigatório" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-8">
                            @Html.Label("Complemento", new { @class = "col-sm-12 control-label-sm" })
                            @Html.TextBoxFor(model => model.Endereco.complemento, new { @class = "form-control input-sm", @placeholder = "Complemento", @data_parsley_required = "", @data_parsley_error_message = "O campo 'Complemento' é obrigatório" })
                        </div>
                        <div class="col-xs-4">
                            @Html.Label("Bairro", new { @class = "col-sm-2 control-label-sm" })
                            @Html.TextBoxFor(model => model.Endereco.bairro, new { @class = "form-control input-sm", @placeholder = "Bairro", @data_parsley_required = "", @data_parsley_error_message = "O campo 'Bairro' é obrigatório" })
                        </div>
                    </div>
                    @* @Html.Partial("_Endereco", new SRCONFI.Projeto.Domain.Entity.Endereco())*@
                </div>
                <div id="tabUltimosPagamentos" class="tab-pane fade">
                    <h3>Último Pagamento</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                </div>
                <div id="tabAtividades" class="tab-pane fade">
                    <h3>Atividades</h3>
                    <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                </div>
            </div>
        </div>
    </div>

}





