@{
    Layout = null;
}

@model SRCONFI.Projeto.Domain.Entity.Atividades
@using System.Collections.Generic;
@using System.Web.Mvc;


<script src="~/Scripts/Views/Atividades/Inserir.js"></script>


@Html.Hidden("hdnCaminhoInserirAtividades", @Url.Action("Inserir", "Atividades"))

@using (Html.BeginForm("Inserir", "Atividades", FormMethod.Post, new { @class = "form-horizontal", @role = "form", id = "formInserirAtividades" }))
{

    @*@Html.HiddenFor(model => model.localID_FK)*@
    @Html.Hidden("inAtivo", 1)
    @*@Html.HiddenFor(model => model.)*@


    <div class="row">
        <div class="col-xs-2">
            @Html.Label("Código", new { @class = "col-sm-2 control-label-sm" })
            @Html.TextBoxFor(model => model.atividadeID, new { @class = "form-control input-sm", @readonly = "readonly" })
        </div>

    </div>

    <div class="row">
        <div class="col-xs-11">
            @Html.Label("Atividade", new { @class = "col-sm-2 control-label-sm" })
            @Html.TextBoxFor(model => model.nomeAtividade, new { @class = "form-control input-sm", @placeholder = "Nome", @data_parsley_required = "", @data_parsley_error_message = "O campo 'Nome' é obrigatório" })
        </div>
        <div class="col-xs-11">
            @Html.Label("Descrição", new { @class = "col-sm-2 control-label-sm" })
            @Html.TextBoxFor(model => model.descricaoAtividade, new { @class = "form-control input-sm", @placeholder = "Nome", @data_parsley_required = "", @data_parsley_error_message = "O campo 'Nome' é obrigatório" })
        </div>
        <div class="col-xs-3">
            @Html.Label("Data Início", new { @class = "col-sm-12 control-label-sm" })
            @Html.TextBoxFor(model => model.dataInicioAtividade, new { @class = "form-control input-sm mask-date", @placeholder = "Data de Inico", @data_parsley_required = "", @data_parsley_error_message = "O campo 'Data de Inicio' é obrigatório" })
        </div>
        <div class="col-xs-3">
            @Html.Label("Data Término", new { @class = "col-sm-12 control-label-sm" })
            @Html.TextBoxFor(model => model.dataTerminoAtividade, new { @class = "form-control input-sm mask-date", @placeholder = "Data de Término", @data_parsley_required = "", @data_parsley_error_message = "O campo 'Data de Término' é obrigatório" })
        </div>
    </div>


}





