@using SRCONFI.Projeto.Domain.Entity
@model List<Atividades>
@{
    ViewBag.Title = "Listar";
}


<script src="~/Scripts/Views/Atividades/Listar.js"></script>

@*CABEÇALHO*@
<ol class="breadcrumb">

    <li>@Html.ActionLink("Home", "Home", "Home", null, null)</li>

    <li>@Html.ActionLink("Atividades", "Listar", "Atividades", null, null)</li>

</ol>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading clearfix">
        <span><strong>Listagem de Atividades</strong></span>
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-primary" id="btnAbrirModalIncluir">Incluir</button>
            <button type="button" class="btn btn-primary" id="btnAbrirModalEditar">Editar</button>
            <button type="button" class="btn btn-primary" id="btnExcluirAtividades">Excluir</button>
            <button type="button" class="btn btn-primary" id="btnImprimirAtividades">Imprimir</button>

        </div>

    </div>
    <div id="ConteudoTableListarAtividades">
        @Html.Partial("_TableListarAtividades", Model)

    </div>


</div>

@Html.Hidden("hdnCaminhoAtualizarTableAtividade", @Url.Action("_TableListarAtividades", "Atividades"))

@Html.Hidden("hdnCaminhoInserirAtividade", @Url.Action("Inserir", "Atividades"))
@Html.Hidden("hdnCaminhoModalInserirAtividade", @Url.Action("ModalInserir", "Atividades"))

@Html.Hidden("hdnCaminhoEditarAtividade", @Url.Action("Editar", "Atividades"))
@Html.Hidden("hdnCaminhoModalEditarAtividade", @Url.Action("ModalEditar", "Atividades"))

@Html.Hidden("hdnCaminhoExcluirAtividade", @Url.Action("Excluir", "Atividades"))