<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title - SRCONFI</title>


    @*CSS*@
    <link href="~/Content/Css/Bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />

    @*JAVASCRIPT*@
    <script src="~/Scripts/Jquery/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/Bootstrap/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>

    <style>
        html, body {
            height: 100%;
        }

        #main {
            overflow: auto;
            padding-bottom: 150px; /* this needs to be bigger than footer height*/
        }

        img {
            width: 100%;
        }

        .navbar {
            margin-bottom: 0;
        }

        .wrapper {
            min-height: 91%;
            padding: 3px 0 31px 0;
            background-color: #f5f5f5;
        }

        .artigo {
            padding: 15px 0;
            border-top: 1px solid #ddd;
        }

            .artigo:first-child {
                padding-top: 0;
                border-top: 0;
            }


        footer {
            position: fixed;
            height: 30px;
            bottom: 0;
            width: 100%;
        }

        .copyright {
            padding: 5px 0;
            background-color: #666;
            color: #fff;
        }

            .copyright h5 {
                margin-top: 3px;
            }

            .copyright small {
                color: #fff;
            }

            .copyright p {
                margin: 0;
            }

        .container-full {
            margin: 0 auto;
            width: 100%;
        }
    </style>

</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-full">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">SRCONFI</a>
            </div>


            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">



                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Home", "Home", null, null)</li>
                    @*DROP DOWN*@
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Usuários<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Tipo", "Listar", "TipoUsuario", null, null)</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Usuários", "Listar", "Usuario", null, null)</li>
                        </ul>
                    </li>
                    @*<li><a href="#">Contato</a></li>*@
                </ul>

                @*<form class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Pesquisar">
                        </div>
                        <button type="submit" class="btn btn-default">Pesquisar</button>
                    </form>*@
            </div>



        </div>
    </nav> <!-- final do navbar -->



    <div class="wrapper" role="main" style="border:1px solid black">
        <div class="container">
            <div class="row">
                @* <div ui-view style="height: calc(100% - 152px);">*@
                <div id="conteudo" class="col-md-12">

                    @RenderBody()
                    @* </div> *@
                </div><!-- div conteudo -->
                <!-- Sidebar -->

            </div><!-- div row container -->
        </div><!-- div container -->
    </div><!-- div wrapper -->


    <footer class="navbar-fixed-bottom">
        @*<!-- Aqui e a area do footer -->
            <div class="container">
                <div class="row">
                    <div id="linksImportantes" class="col-md-3">
                        <h4>Links Importantes</h4>
                        <ul>
                            <li><a href="#">Link1</a></li>
                            <li><a href="#">Link2</a></li>
                            <li><a href="#">Link3</a></li>
                            <li><a href="#">Link4</a></li>
                        </ul>
                    </div> <!-- Aqui e a area dos links importantes -->
                    <div id="redesSociais" class="col-md-3">
                        <h4>Redes Sociais</h4>
                        <ul>
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Googleplus</a></li>
                            <li><a href="#">Twitter</a></li>
                        </ul>
                    </div> <!-- Aqui e a area das redes sociais -->
                    <div id="logoFooter" class="col-md-offset-3 col-md-3">
                        <h2>Meu site</h2>
                    </div> <!-- Aqui e a area da logo do rodape -->
                </div>
            </div>*@
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <p>&copy; Todos os direitos reservados.</p>
                    </div>
                    <div class="col-md-4">
                        <h5><small>Sistema de Registro de Sócios e Controle Financeiro</small></h5>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div class="modal fade" role="dialog" id="modal">
    </div>

    <style>
        .ui-dialog {
            z-index: 9999999 !important;
        }
    </style>

    <script>

        $.fn.serializeObject = function () {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function () {
                if (o[this.name] !== undefined) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };

        function confirmDialog(titulo, mensagem, callback, parametro) {
            var element = ' <div id="dialog-confirm" title="' + titulo + '">' +
                          '<p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>' + mensagem + '</p>' +
                          '</div>';

            $(element).dialog({
                resizable: false,
                height: "auto",
                width: 400,
                modal: true,
                buttons: {
                    "Sim": function () {
                        callback(parametro);
                        $(this).dialog("close");
                    },
                    "Não": function () {
                        $(this).dialog("close");
                    }
                }
            });
        }
        //1 - sucesso
        //2 - erro
        //3 - alerta
        function alertSistema(tipo, mensagem, callback, parametro) {
            var titulo = '';
            var icon = '';

            if (tipo == 1) {
                titulo = "Sucesso!!";
                mensagem = (mensagem == "") ? "Operação efetuada com sucesso!" : mensagem;
                icon = "glyphicon glyphicon-thumbs-up";
            } else if (tipo == 2) {
                titulo = "Erro";
                mensagem = (mensagem == "") ? "A operação gerou um erro!" : mensagem;
                icon = "glyphicon glyphicon-thumbs-down";
            } else if (tipo == 3) {
                titulo = "Alerta";
                mensagem = (mensagem == "") ? "Essa operação gerou um alerta" : mensagem;
                icon = "glyphicon glyphicon-thumbs-down";
            }


            var element = ' <div id="dialog-confirm" title="' + titulo + '">' +
                          '<p><span class="' + icon + '" style="float:left; margin:12px 12px 20px 0;"></span>' + mensagem + '</p>' +
                          '</div>';

            $(element).dialog({
                resizable: false,
                height: "auto",
                width: 400,
                modal: true,
                buttons: {
                    "Ok": function () {
                        if (callback != undefined && callback != null)
                            callback(parametro);
                        $(this).dialog("close");
                    }
                }
            });
        }

        function abrirModal(urlModal, urlBodyModal) {
            $("#modal").load(urlModal, function () {
                $("#modal .modal-body.first").load(urlBodyModal, function () {
                    $("#modal").modal();
                });
            });
        }


        $(document).ready(function () {




            //$(".modal-dialog.first button.close").on("click", function () {
            //    console.logo('a');
            //    $('#modalFirst').modal('hide');
            //});

            //$(".nav a").on("click", function () {
            //    $(".nav").find(".active").removeClass("active");
            //    $(this).parent().addClass("active");
            //});

            //$("button.close").click(function () {
            //    alert('teste');
            //});




        });
    </script>
</body>
</html>