@model SRCONFI.Projeto.Domain.Entity.Usuario
@using System.Collections.Generic;
@using System.Web.Mvc;

<script src="~/Scripts/Views/Usuarios/Inserir.js"></script>

@Html.Hidden("hdnCaminhoInserirUsuario", @Url.Action("Inserir", "Usuario"))

@using (Html.BeginForm("Inserir", "Usuario", FormMethod.Post, new { @class = "form-horizontal", @role = "form", id = "formInserirUsuario" }))
{
    @Html.Hidden("usuarioID", 0)

    <div class="form-group">
        @Html.Label("Código", new { @class = "col-sm-2 control-label" })

        <div class="col-sm-3">
            @Html.TextBox("codigo", "", new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Tipo Usuário", new { @class = "col-sm-2 control-label" })

        <div class="col-sm-10">
            @Html.DropDownListFor(model => model.tipoUsuarioID_FK, (List<SelectListItem>)ViewBag.listTipoUsuario, new { @class = "form-control", @placeholder = "Tipo de Usuário", @required = "required" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Nome", new { @class = "col-sm-2 control-label" })

        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.nome, new { @class = "form-control", @placeholder = "Nome", @required = "required" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Login", new { @class = "col-sm-2 control-label" })

        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.login, new { @class = "form-control", @placeholder = "Login", @required = "required" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Senha", new { @class = "col-sm-2 control-label" })

        <div class="col-sm-10">
            @Html.PasswordFor(model => model.senha, new { @class = "form-control", @placeholder = "Senha", @required = "required" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("E-mail", new { @class = "col-sm-2 control-label" })

        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.email, new { @class = "form-control", @placeholder = "E-mail", @required = "required" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Telefone", new { @class = "col-sm-2 control-label" })

        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.numeroTelefone, new { @class = "form-control", @placeholder = "Telefone", @required = "required" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Situação", new { @class = "col-sm-2 control-label" })

        <div class="col-sm-10">
            @Html.DropDownListFor(model => model.inStatus, (List<SelectListItem>)ViewBag.listSituacao, new { @class = "form-control", @placeholder = "Situação", @required = "required" })
        </div>
    </div>
}





