@using SRCONFI.Projeto.Domain.Entity
@model List<Usuario>
@{
    ViewBag.Title = "Listar Usuários";
}

<script src="~/Scripts/Views/Usuarios/Listar.js"></script>

@*CABEÇALHO*@
<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Home", "Home", null, null)</li>
    <li>Usuários</li>
    <li>@Html.ActionLink("Usuários", "Listar", "Usuario", null, null)</li>
</ol>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading clearfix">
        <span><strong>Listagem de Usuários</strong></span>
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-primary" id="btnAbrirModalIncluir">Incluir</button>
            <button type="button" class="btn btn-primary" id="btnAbrirModalEditar">Editar</button>
            <button type="button" class="btn btn-primary" id="btnExcluirUsuario">Excluir</button>
            <button type="button" class="btn btn-primary">Imprimir</button>
        </div>
    </div>
    <div id="ConteudoTableListarUsuario">
        @Html.Partial("_TableListarUsuario", Model)
    </div>

</div>

@Html.Hidden("hdnCaminhoAtualizarTableUsuario", @Url.Action("_TableListarUsuario", "Usuario"))

@Html.Hidden("hdnCaminhoInserirUsuario", @Url.Action("Inserir", "Usuario"))
@Html.Hidden("hdnCaminhoModalInserirUsuario", @Url.Action("ModalInserir", "Usuario"))

@Html.Hidden("hdnCaminhoEditarUsuario", @Url.Action("Editar", "Usuario"))
@Html.Hidden("hdnCaminhoModalEditarUsuario", @Url.Action("ModalEditar", "Usuario"))

@Html.Hidden("hdnCaminhoExcluirUsuario", @Url.Action("Excluir", "Usuario"))

