@using SRCONFI.Projeto.Domain.Entity
@model List<Usuario>
@{
    ViewBag.Title = "Listar";
}

<script src="~/Scripts/Views/Usuarios/Listar.js"></script>

@*CABEÇALHO*@
<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Home", "Home", null, null)</li>
    <li>@Html.ActionLink("Usuários", "Listar", "Usuario", null, null)</li>
</ol>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading clearfix">
        <span><strong>Listagem de Usuários</strong></span>
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" id="btnIncluir">Incluir</button>
            <button type="button" class="btn btn-primary">Editar</button>
            <button type="button" class="btn btn-primary">Excluir</button>
            <button type="button" class="btn btn-primary">Imprimir</button>
        </div>
    </div>

    @*<div class="panel-body">
            <p>...</p>
        </div>*@

    <!-- Table -->
    @*<div class="container">
        <h2>Hover Rows</h2>
        <p>The .table-hover class enables a hover state on table rows:</p>*@
    <table class="table table-hover" id="tableUsuarios">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Login</th>
                <th>Tipo de Usuário</th>
                <th>E-mail</th>
                <th>Status</th>
        </thead>
        <tbody>

            @foreach (Usuario usu in Model)
            {
                <tr class="clickable-row">
                    <td>@usu.nome</td>
                    <td>@usu.login</td>
                    <td>@usu.TipoUsuario.descricaoTipoUsuario</td>
                    <td>@usu.email</td>
                    <td>
                        @if (usu.inStatus == 0)
                        { @Html.Raw("Inativo") }
                        else
                        { @Html.Raw("Ativo") }
                    </td>
                </tr>
            }    
        </tbody>
    </table>
    @*</div>*@
</div>

@Html.Hidden("hdnCaminhoInserirUsuario", @Url.Action("Inserir", "Usuario"))
@Html.Hidden("hdnCaminhoModalUsuario", @Url.Action("Modal", "Usuario"))
